{% extends "layout.html.twig" %}

  {% block title %}Accès restreint{% endblock %}

   
{% block content %}
<br>
<br>
<br>
<br>
        
      
        <h1>Vous n'avez pas les droits pour accéder à cette page.</h1>

        
        
{% endblock %}