{% extends "layout.html.twig" %}

  {% block title %}Annuaire des anciens élèves de Webforce3{% endblock %}


        {% block content %}

		<div class="col-md-12">
            <h2>Annuaire des anciens élèves de Webforce3</h2>
            
			<!--j'utilise le langage twig, qui évite de mettre du php dans le html -->
           
			{% for user in users %}
            
          {{ dump(user) }}
           
			<ul>
				<li><a href="{{ path('fichedétaillée', {id: users.id}) }}">{{ user.firstname }} {{ user.username }}</a> </li>
			</ul>
            
			{% endfor %} 

		</div>

    {% endblock %} 