{% extends "layout.html.twig" %}

  {% block title %}Fiche détaillée{% endblock %}


        {% block content %}

		<div class="col-md-12">
            <h2>Fiche détaillée</h2>
            
           
			<ul>
				<li>{{ user.firstname }} {{ user.username }}</li>
			</ul>
            
		

		</div>

    {% endblock %} 