  {% extends "layout.html.twig" %}
    {% block title %}Ma page d'accueil{% endblock %}
{% block content %}
    

  <body id="corps">
  
<!--début du petit slider -->
  <div id="header-wrapper" class="header-slider">
    <header class="clearfix">
      <div class="logo">
        <img src="img/icons/formationpro.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="main-flexslider" class="flexslider">
              <ul class="slides">
                <li>
                  <p class="home-slide-content">
                    <strong>Inscrivez-vous !</strong></p>
                </li>
                <li>
                  <p class="home-slide-content">
                    <strong>Offres d'emploi</strong> en ligne ! 
                  </p>
                </li>
                <li>
                  <p class="home-slide-content">
                    <strong>Forum</strong> d'entraide !
                  </p>
                </li>
              </ul>
            </div>
            <!-- fin slider -->
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- spacer section -->

  <!-- section équipe -->
  <section id="about" class="section" style="color: white">
    <div class="container">

      <h4>Webforce3: La formation pour devenir Intégrateur &<br><br><br> Développeur Web</h4>
      <div class="row">
        <div class="span4 offset1">
          <div style="font-size: 1.15em">
            <h2><strong>L'avenir</strong></h2>
            <p>
             WebForce3 propose une <strong>formation de 3 mois appliquée et rapide</strong>.
              Pour un total de <strong>490 heures</strong> de formation, vous allez apprendre a manier environ 8 langages et techniques de la programmation du web. <br>
              Pour cause, l'expansion considérable du marché du travail dans le <strong>domaine du développement</strong> permet, grâce à cette formation, de trouver sa place dans le monde de la programmation web.
              <br>
              Cette formation vous offre des perspectives d'emploi en tant que développeur Junior avec près de <strong>20 000 postes</strong> de développeur web à pourvoir aujourd’hui en France.
            </p>

          </div>
        </div>
        <div class="span6">
          <div class="aligncenter">
            <img src="img/wf3/ampoule.png" alt="" />
          </div>
        </div>
      </div>
      <div style="font-size: 1.15em" class="row">
        <div class="span2 offset1 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/html.png" alt="" />
            <h3>HTML 5</h3>
            <p>
            - Structurer le contenu brut d'une page web.            
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/css3.png" alt="" />
            <h3>CSS 3</h3>
            <p>
            - Concevoir des pages et des interfaces web responsive.<br>
            - Créer des animations.
            </p>
          </div>
        </div>        
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/js.jpg" alt="" />
            <h3>JavaScript</h3>
            <p>
            - Concevoir des pages web interactives.
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/php.png" alt="" />
            <h3>PHP</h3>
            <p>
            - Maîtriser la syntaxe de PHP. <br>
            - Développer des fonctionnalités. <br>
            - Mettre en ligne un site avec une partie cliente & une interface de gestion.
            </p>
          </div>
        </div>
      </div>
             <p style="margin-left: 7em;"> Pour en savoir plus, vous pouvez vous rendre sur le site de WebForce3 en cliquant sur le lien <a href="http://www.wf3.fr/" style="color: #180D75">WebForce3</a>.</p> 
    </div>
    <!-- /.container -->
  </section>
   <!-- section: fonctionnalités -->
  <section id="services" class="section orange">
    <div class="container">
      <h4>Fonctionnalité du site</h4>
      <!-- Four columns -->
      <div class="row">
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/marto.png" alt="" />
            <h2>Forum</h2>
            <p><a href="{{ path('forum') }}">Forum
              Communiquez avec d'autres développeurs pour obtenir leur aide !
            </a></p>
          </div>
        </div>
        <div class="span3 animated flyIn">
          <div class="service-box">
            <img src="img/icons/bulle.png">
            <h2>Annuaire</h2>
            <p><a title="team" href="{{ path('annuaire') }}">
              Parlez avec les élèves des anciennes promotions pour avoir un vrai ressenti de votre futur métier de développeur !
                </a>
            </p>
          </div>
        </div> 

        </div>
               
         <div class="span3 animated-slow flyIn">
          <div class="service-box">
            <img src="img/icons/ordi.png" alt="" />
            <h2>Offres d'emploi</h2>
            <p><a href="{{ path('offresemploi')}}">
              Trouvez des offres d'emploi correspondant à votre profil !
                </a></p>
          </div>
        </div>
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/i.png">
            <h2>Contactez nous !</h2>
            <p><a href='{{ path("contactezmoi") }}'>
              Vous pouvez également nous contacter si vous avez des questions.
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>  
  
  <!-- section équipe -->
  <section id="about" class="section" style="color: white">
    <div class="container">
      <h4>Qui sommes-nous ?</h4>
      <div class="row">
        <div class="span4 offset1">
          <div>
            <h2>Notre joli<strong> site</strong></h2>
            <p>
              Anciens élèves de la formation WebForce3, nous proposons une manière simple et efficace de communiquer avec les anciens élèves de Webforce3 afin d'avoir des informations concernant le métier d'intégrateur/développeur web.
            </p>

          </div>
        </div>
        <div class="span6">
          <div class="aligncenter">
            <img src="img/icons/creativity.png" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset1 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/norman.jpg" alt="" />
            <h3>Norman J.</h3>
            <p>
              Développeur Back-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/virginie.jpg" alt="" />
            <h3>Virginie B.</h3>
            <p>
              Développeur Back-end
            </p>
          </div>
        </div>
        
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/pierre.jpg" alt="" />
            <h3>Pierre B.</h3>
            <p>
              Développeur Back end, Front-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/alex.jpg" alt="" />
            <h3>Alexandre B.</h3>
            <p>
              Développeur Front-end
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>
  <!-- fin section équipe -->
 

  
  <script src="js/jquery.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/jquery.localScroll.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/isotope.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/inview.js"></script>
  <script src="js/animate.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>
{% endblock %}
    {# commentaires #}

    