  {% extends "layout.html.twig" %}
    {% block title %}Ma page d'accueil{% endblock %}
{% block content %}
    

  <body>
  

  <div id="header-wrapper" class="header-slider">
    <header class="clearfix">
      <div class="logo">
        <img src="img/icons/formationpro.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="main-flexslider" class="flexslider">
              <ul class="slides">
                <li>
                  <p class="home-slide-content">
                    <strong>Inscrivez-vous !</strong></p>
                </li>
                <li>
                  <p class="home-slide-content">
                    <strong>Offres d'emploi</strong> en ligne ! 
                  </p>
                </li>
                <li>
                  <p class="home-slide-content">
                    <strong>Forum</strong> d'entraide !
                  </p>
                </li>
              </ul>
            </div>
            <!-- end slider -->
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- spacer section -->
  
  <!-- end spacer section -->
  <!-- section: team -->
  <section id="about" class="section">
    <div class="container">
      <h4>Qui sommes-nous ?</h4>
      <div class="row">
        <div class="span4 offset1">
          <div>
            <h2>Notre joli<strong> site</strong></h2>
            <p>
              Anciens élèves de la formation WebForce3, nous proposons une manière simple et efficace de communiquer avec les anciens élèves de Webforce3 afin d'avoir des informations concernant le métier d'intégrateur/développeur web.
            </p>

          </div>
        </div>
        <div class="span6">
          <div class="aligncenter">
            <img src="img/icons/creativity.png" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset1 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/norman.jpg" alt="" />
            <h3>Norman J.</h3>
            <p>
              Développeur Back-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/virginie.jpg" alt="" />
            <h3>Virginie B.</h3>
            <p>
              Développeur Back-end
            </p>
          </div>
        </div>
        
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/pierre.jpg" alt="" />
            <h3>Pierre B.</h3>
            <p>
              Développeur Back end, Front-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/alex.jpg" alt="" />
            <h3>Alexandre B.</h3>
            <p>
              Développeur Front-end
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>
  <!-- end section: team -->
  <!-- section: services -->
  <section id="services" class="section orange">
    <div class="container">
      <h4>Fonctionnalité du site</h4>
      <!-- Four columns -->
      <div class="row">
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/marto.png" alt="" />
            <h2>Forum</h2>
            <p>
              Communiquez avec d'autres développeurs pour obtenir leur aide !
            </p>
          </div>
        </div>
        <div class="span3 animated flyIn">
          <div class="service-box">
            <img src="img/icons/bulle.png">
            <h2>Communication directe avec les anciens élèves</h2>
            <p>
              Parlez avec les élèves des anciennes promotions pour avoir un vrai ressenti de votre futur métier de développeur !
            </p>
          </div>
        </div>
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/i.png">
            <h2>Obtenez des informations sur la formation</h2>
            <p>
              Après tout, vous êtes aussi là pour ça.
            </p>
          </div>
        </div>
        <div class="span3 animated-slow flyIn">
          <div class="service-box">
            <img src="img/icons/ordi.png" alt="" />
            <h2>Offres d'emploi</h2>
            <p>
              Trouvez des offres d'emploi correspondant à votre profil !
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <script src="js/jquery.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/jquery.localScroll.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/isotope.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/inview.js"></script>
  <script src="js/animate.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>
{% endblock %}
    {# commentaires #}

    