  {% extends "layout.html.twig" %}
    {% block title %}Site communautaire des anciens de WebForce3{% endblock %}
{% block content %}
    

  <body>  
  <div class="bloc-principal">
    <div class="site-header">
      <main class="contenu">
          
<!--début du petit slider -->
  <div id="header-wrapper" class="header-slider">
    
     <h1>Le site communautaire des anciens de Webforce3</h1> 
        <h2>Retrouvez des anciens et communiquez avec eux<br>
        Recruteurs, proposez vos offres d'emploi d'Intégrateurs et développeurs</h2>
        
</div>
      
    
        
   
      

  <!-- spacer section -->
  <!-- section équipe -->
  <section id="about" class="section" style="color: white">
    <div class="container">

      <h2>Webforce3 : l'école des intégrateurs & développeurs Web</h2>
      <div class="row" id="webforce3">
        
            <p>
            490 heures de cours, l’équivalent d’une année de formation, sont délivrées en 3 mois et demi, à raison de 35 heures par semaine en présence d’un formateur. 
            Ce format intensif, au sein de classes de 15 à 18 élèves, permet un engagement fort de tous autour de l’apprentissage accéléré d’un métier.
            WebForce3 propose une formation rigoureuse aux compétences clés du métier de développeur Web. Intégration HTML5, CSS, JavaScript, Développement PHP, 
            Base de données MySQL, WordPress, langages orientés objets et Frameworks.
            </p>
        
      
      </div>
      <div style="font-size: 1.15em" class="row">
        <div class="span2 offset1 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/html.png" alt="" />
            <h3>HTML 5</h3>
            <p>
            - Structurer le contenu brut d'une page web.            
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/css3.png" alt="" />
            <h3>CSS 3</h3>
            <p>
            - Concevoir des pages et des interfaces web responsive.<br>
            - Créer des animations.
            </p>
          </div>
        </div>        
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/js.jpg" alt="" />
            <h3>JavaScript</h3>
            <p>
            - Concevoir des pages web interactives.
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/wf3/php.png" alt="" />
            <h3>PHP</h3>
            <p>
            - Maîtriser la syntaxe de PHP. <br>
            - Développer des fonctionnalités. <br>
            - Mettre en ligne un site avec une partie cliente & une interface de gestion.
            </p>
          </div>
        </div>
      </div>
             <p style="margin-left: 7em;"> Pour en savoir plus, vous pouvez vous rendre sur le site de WebForce3 en cliquant sur le lien <a href="http://www.wf3.fr/" style="color: #180D75">WebForce3</a>.</p> 
    </div>
    <!-- /.container -->
  </section>
   <!-- section: fonctionnalités -->
  <section id="services" class="section orange">
    <div class="container">
      <h4>Fonctionnalités du site</h4>
      <!-- Four columns -->
      <div class="row">
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/marto.png" alt="" />
            <h2>Forum</h2>
            <p><a href="{{ path('forum') }}">Forum
              Communiquez avec des développeurs pour obtenir leur aide !
            </a></p>
          </div>
        </div>
        <div class="span3 animated flyIn">
          <div class="service-box">
            <img src="img/icons/bulle.png">
            <h2>Annuaire</h2>
            <p><a title="team" href="{{ path('annuaire') }}">
              Obtenez des témoignages d'anciens élèves sur le métier de développeur !
                </a>
             </p>
          </div>
        </div> 


 
    
        <div class="span3 animated-slow flyIn">

          <div class="service-box">
            <img src="img/icons/ordi.png" alt="" />
            <h2>Offres d'emploi</h2>
            <p><a href="{{ path('offresemploi')}}">
              Trouvez des offres d'emploi correspondant à votre profil !
                </a></p>
          </div>
        </div>
        <div class="span3 animated-fast flyIn">
          <div class="service-box">
            <img src="img/icons/i.png">
            <h2>Contactez-nous !</h2>
            <p><a href='{{ path("contactezmoi") }}'>
              Vous pouvez nous contacter si vous avez des questions.
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- section équipe -->
  <section id="about" class="section" style="color: white">
    <div class="container">
      <h4>Qui sommes-nous ?</h4>
      <div class="row">
            
            <p>
              Nous sommes quatre anciens de la promotion 5 WebForce3 de Bordeaux. Nous vous proposons ce site communautaire qui rassemble les anciens élèves de WebForce3 afin de pouvoir communiquer de manière simple avec ces derniers et obtenir des témoignages concernant la formation et le métier d'intégrateur/développeur web.
            </p>
      
      </div>
      <div class="row" id="tronches">
        <div class="span2 offset1 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/norman1.jpg" alt="" />
            <h3>Norman J.</h3>
            <p>
              Développeur Front et Back-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/virginie1.jpg" alt="" />
            <h3>Virginie B.</h3>
            <p>
              Développeuse Front et Back-end
            </p>
          </div>
        </div>        
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/pierre1.jpg" alt="" />
            <h3>Pierre B.</h3>
            <p>
              Développeur Front et Back-end
            </p>
          </div>
        </div>
        <div class="span2 flyIn">
          <div class="people">
            <img class="team-thumb img-circle" src="img/team/alex1.jpg" alt="" />
            <h3>Alexandre B.</h3>
            <p>
              Développeur Front-end
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>
  <!-- fin section équipe -->
  <script src="js/jquery.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/jquery.localScroll.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/isotope.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/inview.js"></script>
  <script src="js/animate.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
</main>
</div>
</div>
</body>
{% endblock %}
    {# commentaires #}

    