{% extends "layout.html.twig" %}

{% block title %} Recherche {% endblock %}

{% block content %}
<br><br>
<br><br>

{% for users in user%}

<article>
    <h1>{{ users.username }}</h1>
    <p>{{ users.lastname }}</p>
    <p>{{ users.firstname }}</p>

</article>

{% endfor %}
{% endblock %}
