{% extends "layout.html.twig" %}

{% block title %} Recherche {% endblock %}

{% block content %}
<br><br>
<br><br>
{% for users in user%}

<article>
    <h1><a href="{{ path('fichedetaillee', {id: users.id}) }}">{{ users.username }}</a></h1>
    <p>{{ users.lastname }}</p>
    <p>{{ users.firstname }}</p>

</article>

{% endfor %}
{% endblock %}
