{% extends "layout.html.twig" %}

{% block title %} Recherche {% endblock %}

{% block content %}

{% for users in user%}
<article>
    <h1>{{ users.name }}</h1>

</article>
{% endfor %}
{% endblock %}
